@media screen and (min-width:900px) {
    body {
        width:900px;
        margin:0 auto;
    }

}

@media screen and (max-width:900px) {
    body {
        width:95%;
        margin:0 auto;
    }
}

.center {
    text-align:center;
}

.right {
    text-align:right;
}

.left {
    text-align:left;
}

.light {
    font-weight:300;
}